:root {
  --basic-blue: #09aff4;
  --basic-purple: #181757;
}

main,section,footer {
  background-color: var(--basic-purple);
}
.navbar-nav .nav-link{
  color: #fff;
  position: relative;
  transition:color .2s linear;
}

.navbar-nav .nav-link:hover ,
.navbar-nav .lived
{
  color: var(--basic-blue);
}
.navbar-nav .nav-link:hover::after,
.navbar-nav .lived::after {
  left: -5px;
  top: 18px;
  width: 6px;
  content: "";
  height: 6px;
  position: absolute;
  border-radius: 100%;
  background-color: var(--basic-blue);
}

.blue_text {
  color: var(--basic-blue);
}

.fs_custom_01{
  font-size: 18px;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #111;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}

.checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}

header{
  position: relative;
  background: var(--basic-purple);
}

.heading_01 {
  font-size: 18px;
  color: var(--basic-blue);
  font-weight: 700;
  position: relative;
  padding: 0 13px;
  width: fit-content;
}

.heading_01:after {
  content: "";
  width: 6px;
  height: 6px;
  position: absolute;
  top: 11px;
  left: 0;
  border-radius: 100%;
  background-color: var(--basic-blue);
}

.heading_01::before {
  content: "";
  width: 6px;
  height: 6px;
  position: absolute;
  top: 11px;
  right: 0;
  border-radius: 100%;
  background-color: var(--basic-blue);
}

.wavy_underline {
  position: relative;
  color: var(--basic-blue);
}
.wavy_underline::after {
  left: 0;
  top: 45px;
  width: 100%;
  content: "";
  height: 100%;
  position: absolute;
  background: url("../images/Path208.svg") no-repeat center;
}

.custom_btn_01 {
  border: 2px solid var(--basic-blue);
  color: var(--basic-blue);
  font-weight: 700;
  font-size: 18px;
  border-radius: 0px 10px 0px 10px;
  padding: 10px 20px 10px 20px;
}

.custom_btn_01:hover,
.nav-tabs > button.active
{
  border: 2px solid var(--basic-blue);
  background: linear-gradient(
    0deg,
    rgba(9, 175, 244, 0.6),
    rgba(9, 175, 244, 0.6)
  );
  color: #fff;
  svg{
    fill: #fff;
  }
}

@property --myColor1 {
  syntax: "<color>";
  initial-value: transparent;
  inherits: false;
}

@property --myColor2 {
  syntax: "<color>";
  initial-value: transparent;
  inherits: false;
}

.custom_card_01 {
  border: 2px solid var(--basic-blue);
  background: linear-gradient(var(--myColor1), var(--myColor2));
  transition: --myColor1 0.5s, --myColor2 0.5s;
}

.custom_card_01:hover {
  --myColor1: #09aff4;
  --myColor2: rgba(9, 175, 244, 0.3);
  svg {
    fill: #fff;
  }
  .card-link {
    color: #fff;
  }
  .custom_btn_02 {
    color: #fff;
    border: 2px solid #fff;
  }
}

.cards_bg {
  background: url("../images/div.overlay-cards-bg.svg") no-repeat;
  background-size: cover;
  padding: 80px 0;
}

.custom_card_02 {
  padding: 50px;
  background: #06092240;
  border: 1px solid var(--basic-blue);
  border-top: 4px solid var(--basic-blue);
}

.custom_btn_02 {
  color: var(--basic-blue);
  padding: 10px 20px 10px 20px;
  border-radius: 0px 10px 0px 10px;
  border: 2px solid var(--basic-blue);
}
.custom_btn_02:hover {
  color: #fff;
  border: 2px solid #fff;
}

.placeholder-white::placeholder {
  color: #fff;
}
.placeholder-blue::placeholder {
  color: var(--basic-blue);
}

.placeholder-blue:focus,
.placeholder-white:focus {
  outline: none !important;
  box-shadow: none !important;
}
